<div *ngIf="project">
	<div class="project">

		<div *ngIf="editableProjectName; else fixedProjectName">
			<focussed-input [value]="project.name" [label]="'Project Name'" classes="editableTitle" (onEntered)="updateProjectName($event)"></focussed-input>
		</div>
		<ng-template #fixedProjectName>
			<div>
				<h3 (click)="editProjectName()">
					{{project.name}}
					<i class="material-icons edit-mode">mode edit</i>
				</h3>
			</div>
		</ng-template>

		<div *ngIf="editableProjectDescription; else fixedProjectDescription">
			<focussed-input [value]="project.description" label="Project description" (onEntered)="updateProjectDescription($event)"></focussed-input>
		</div>
		<ng-template #fixedProjectDescription>
			<div (click)="editProjectDescription()">
				<label >{{project.description}}</label>
				<i class="material-icons edit-mode">mode edit</i>
			</div>
		</ng-template>

		<donut-chart [percentage]="100"></donut-chart>

        <h4>Requirements</h4>
		<div *ngIf="requirements && requirements.length > 0; else noRequirementsBlock">
			<div *ngFor="let requirement of requirements; let i = index">
				<div mdl class="test-step mdl-shadow--2dp">

					<div class="mdl-grid">
						<div class="mdl-cell mdl-cell--10-col test-case">
							<a [routerLink]="['requirements', requirement.id]">{{requirement.name}}</a>
						</div>
						<div class="mdl-cell mdl-cell--2-col test-step-buttons">
							<!--<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect" (click)="addRequirement(i)">
								<i class="material-icons">add</i>
							</button>-->

							<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect" (click)="deleteRequirement(i)">
								<i class="material-icons">delete</i>
							</button>
						</div>
					</div>

					
				</div>
			</div>
		</div>
		
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="addRequirement()">
		  Add requirement
		</button>
	</div>
</div>